<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class=“header”>
        <div class=“header__top”>
            <a class=“header__logo” href=“#”>
                <img src=“images/logo.png” alt=“Open Charity”>
            </a>
            <nav class=“header__nav”>
                <ul>
                    <li class=“nav”>
                        <a href=“#” class=“nav__link”>About Open Charity</a>
                    </li>
                    <li class=“nav”>
                        <a href=“#” class=“nav__link”>The Blog</a>
                    </li>
                    <li class=“nav”>
                        <a href=“#” class="nav__link nav__link__btn">Join us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class=“header__banner”>
            <h1 class=“header__title”>Sharing Ideas For Charities</h1>
            <h3 class=“header__subtitle”>Many charities' goals are similar, as is the functionality we require, but
                little shared working takes place.</h3>
            <p class=“header__paragraph”>By working together, driving shared areas of interest and influencing open
                source developments we can bring efficiencies, improve the digital experience for our users, and have
                great impact.</p>
            <h4 class="header__subtitle header__subtitle--spacing">
                Together we can make a bigger deference.
            </h4>
        </div>
    </header>

    <div class="full-container clearfix">
        <div class="mission clearfix">
            <h2 class=“block-title”>Our Mission</h2>
            <h4 class=“mission__subtitle”>Charities and Partners collaborating and sharing open solutions and ideas to
                create value in the digital space.</h4>
            <h3 class=“mission__invitation”>If you are a charity or a supplier, we are ready to welcome you.</h3>
            <div class="mission__goal col-m4">
                <div class=“mission__icon”>
                    <i class=“fa fa-lightbulb-o”></i>
                </div>
                <h3 class=“mission__title”>We help charities</h3>
                <p class=“mission__details”>share knowledge and working practice to make the best technology choices.
                </p>
            </div>
            <div class=“mission__goal col-m4”>
                <div class=“mission__icon”>
                    <i class="fa fa-users"></i>
                </div>
                <h3 class=“mission__title”>We bring together</h3>
                <p class=“mission__details”>charities and suppliers to the charity sector to share best practices.</p>
            </div>
            <div class="mission__goal col-m4">
                <div class=“mission__icon”>
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <h3 class=“mission__title”>We encourage</h3>
                <p class=“mission__details”>collaboration and innovation for the good of the charity sector.</p>
            </div>
        </div>
    </div>
    <footer class=“clearfix footer”>
        <div class=“footer...social”>
            <a href=“#”><i class=“fa fa-facebook”></i></a>
            <a href=“#”><i class=“fa fa-twitter”></i></a>
            <a href=“#”><i class=“fa fa-google-plus”></i></a>
        </div>
        <div class=“footer__copyright”>
            This site was built as a collaboration between <a href=“#” class=“footer__copyright--link”>Manifesto
                Digital</a> and <a href=“#” class=“footer__copyright--link”> Comport</a>
        </div>
    </footer>

</body>

</html>