* {
    margin: 0;
    padding: 0;
}



.header__top {
    margin: 10px;
}

.header__nav ul>li  {
    margin: 10px;
}

.header__banner {
    background-image: url('./images/slider.jpg');
    height: 400px;
    width: 100%;
    color: white;
    line-height: 20px;
    gap: 20px;
}