body {
    background-image: url(./nguoi-lai-do.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    width: calc(33% - 40px);
    padding: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.text-name {
    font-weight: bolder;
    padding: 20px 0 20px 0;
}

.text-menu {
    padding-top: 50px;
    font-size: 40px;
}